%p#notice= notice

%p
  %b Nombre:
  = @teacher.nombre
%p
  %b Apat:
  = @teacher.apat
%p
  %b Edad:
  = @teacher.edad
%p
  %b Materia:
  = @teacher.materia

= link_to 'Edit', edit_teacher_path(@teacher)
\|
= link_to 'Back', teachers_path
